meta(charset='utf-8')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='description' content=description)
meta(name='keywords' content='')
//- link(href='//fonts.googleapis.com/css?family=Catamaran:400,700' rel='stylesheet' type='text/css')
//- link(href='//fonts.googleapis.com/earlyaccess/sawarabigothic.css' rel='stylesheet')

link(rel='icon' type='image/png' href='images/logo-og.png' sizes='16x16')
link(rel='icon' type='image/png' href='images/logo-og.png' sizes='32x32')
link(rel='icon' type='image/png' href='images/logo-og.png' sizes='114x114')
link(rel='apple-touch-icon-precomposed' href='images/apple-touch-icon-precomposed.png')

meta(property='og:url' content='')
meta(property='og:type' content='website')
meta(property='og:title' content='design fika')
meta(property='og:description' content=description)
meta(property='og:image' content='images/logo-og.png')
meta(name='twitter:card' content='summary')
meta(name='twitter:site' content='')
meta(name='twitter:title' content='design fika')
meta(name='twitter:image' content='images/logo-og.png')
meta(name='twitter:description' content=description)
link(rel='stylesheet' type='text/css' href='styles/style.css')
title=title



