- var title = 'menu';

doctype html
html(lang='ja')
  head
    include include/_head.pug
  body
    include include/_header.pug
    article.article
      include pages/_top.pug
      main.main(role='main')
        .tabs
          ul.tabs__menu
            li.tabs__list あああ
            li.tabs__list いいい
            li.tabs__list えええ
        .tabs-box
          ul.tabs__inner
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test01.jpg`, alt='').tabs__img
                span.tabs__text あああ
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test02.jpg`, alt='').tabs__img
                span.tabs__text いいい
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test03.jpg`, alt='').tabs__img
                span.tabs__text ううう
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test04.jpg`, alt='').tabs__img
                span.tabs__text えええ
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test05.jpg`, alt='').tabs__img
                span.tabs__text おおお
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test06.jpg`, alt='').tabs__img
                span.tabs__text かかか
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test07.jpg`, alt='').tabs__img
                span.tabs__text あああ
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test08.jpg`, alt='').tabs__img
                span.tabs__text いいい
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test09.jpg`, alt='').tabs__img
                span.tabs__text ううう
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test010.jpg`, alt='').tabs__img
                span.tabs__text えええ
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test011.jpg`, alt='').tabs__img
                span.tabs__text おおお
            li.tabs__box
              a(href='#').tabs__link
                img(src=`${data.img}test012.jpg`, alt='').tabs__img
                span.tabs__text かかか
    include include/_script.pug


